@inherits R_Page

<h1>Realta Blazor QRCode</h1>
<div class="lead mb-3">
    Realta Blazor QRCode component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="QRCode Overview" HashTagName="qrcode-overview" />
<Demo Type="typeof(QRCode_Demo_01_Overview)" Tabs="true" />
