@using BlazorTraining.Controls.Docs.Parameter

<tr>
    <th colspan="4">DateInput Only</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_DateInput<DateTime>.Format)</code></th>
    <td>string</td>
    <td>
        Specifies the date format pattern used to display and parse the date value. If left empty, it is automatically resolved from the current culture using the value of DateInputFormat and also applied to the placeholder.
    </td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_DateInput<DateTime>.DateInputFormat)</code></th>
    <td>@nameof(R_eDateInputFormat) (R_eDateInputFormat.Short)</td>
    <td>
        Determines whether the culture’s short or long date pattern is used when Format is not explicitly set. This value is used during initialization to generate the actual date format assigned to Format.
    </td>
    <td>Try</td>
</tr>


<R_DateInputComponentBaseParameter />