<tr>
    <th colspan="4">Base Component</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_BaseComponent.Id)</code></th>
    <td>string</td>
    <td>Unique identifier for the component instance. Used internally and in the rendered HTML to reference the control.</td>
    <td></td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_BaseComponent.Class)</code></th>
    <td>string</td>
    <td>Specifies CSS classes to apply to the component’s root element.</td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_BaseComponent.Style)</code></th>
    <td>string</td>
    <td>Specifies inline CSS styles to apply directly to the component’s root element.</td>
    <td>Try</td>
</tr>
