<tr>
    <th colspan="4">Control Base</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_ControlBase.Enabled)</code></th>
    <td>bool (true)</td>
    <td>Determines whether the control is active and can be interacted with by the user. When set to false, the control is disabled and cannot receive input or focus.</td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_ControlBase.TabIndex)</code></th>
    <td>int</td>
    <td>Specifies the order in which the control receives focus when the user navigates through the interface using the Tab key. Controls with lower values receive focus before those with higher values.</td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_ControlBase.Tooltip)</code></th>
    <td>string</td>
    <td>Defines the text displayed when the user hovers the mouse pointer over the control. It is typically used to provide additional information or guidance about the control’s purpose.</td>
    <td>Try</td>
</tr>
<R_BaseComponentParameter />
