<tr>
    <th colspan="4">Validation</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputWithValidationComponentBase<object>.ShowValidation)</code></th>
    <td>bool (false)</td>
    <td>Indicates whether validation messages and validation styling should be displayed for this input component. When set to true, validation feedback is shown to the user.</td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputWithValidationComponentBase<object>.FieldName)</code></th>
    <td>string</td>
    <td>Specifies the name of the field used for validation and binding purposes. This value is typically mapped to a model property so validation messages can be associated with the correct field. If ShowValidation is false, this value is ignored.</td>
    <td>Try</td>
</tr>
<tr>
    <th colspan="4">Floating Label</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputWithValidationComponentBase<object>.FloatingLabel)</code></th>
    <td>bool (false)</td>
    <td>Determines whether the label is rendered in a floating style. When enabled, the label moves above the input when the field.</td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputWithValidationComponentBase<object>.Label)</code></th>
    <td>string</td>
    <td>Defines the text displayed as the label for the input field. This property is only applied when FloatingLabel is set to true. If FloatingLabel is false, this value is ignored and no label is rendered.</td>
    <td>Try</td>
</tr>
<R_InputComponentBaseParameter />
