@using Microsoft.JSInterop
@using Telerik.Blazor
@using Telerik.Blazor.Components

@if (Tabs.Count > 1)
{
    <TelerikTabStrip TabPosition="TabPosition.Left" Scrollable="true" Height="600px" PersistTabContent="true" ActiveTabIndexChanged="@OnActiveTabIndexChanged">
        @foreach (var tab in Tabs)
        {
            <TabStripTab Title="@tab.Key" Id="@tab.Key">
                <div class="doc-scroll-wrapper">

                    <div class="doc-scroll-content">

                        <DynamicComponent Type="@tab.Value" />
                    </div>

                    <div class="scroll-fade-bottom"></div>

                </div>
            </TabStripTab>
        }
    </TelerikTabStrip>
}

@code {
    [Parameter] public Dictionary<string, Type> Tabs { get; set; } = new();
    [Inject] private IJSRuntime JS { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         await JS.InvokeVoidAsync("initScrollFades");
    }

    private async Task OnActiveTabIndexChanged(int index)
    {
        await JS.InvokeVoidAsync("initScrollFades");
    }
}