<tr>
    <th colspan="3">Control Base</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputComponentBase<object>.FocusAsync)</code></th>
    <td>
        Programmatically sets keyboard focus to the input component.
        This allows the control to receive user input and keyboard events.
    </td>
    <td>Try</td>
</tr>

<R_BaseComponentMethod />