@inherits R_Page

<h3>PageC</h3>

@code {
    protected override Task R_Init_From_Master(object poParameter)
    {
        return base.R_Init_From_Master(poParameter);
    }

    public Task TabParameterChangedAsync(object poParam)
    {
        return Task.CompletedTask;
    }

    public object SetTabPageResult()
    {
        return null;
    }
}
