@inherits R_Page
@attribute [R_Page (Title = "Tab Page Example")]

<h3>Tab Page Example</h3>

<R_TabStrip>
    <R_TabStripTab Title="Tab 1">
        Tab 1
    </R_TabStripTab>

    <R_TabStripTab Title="Tab 2">
        <R_TabPage R_Before_Open_TabPage="@R_Before_Open_TabPageTabC"></R_TabPage>
    </R_TabStripTab>
</R_TabStrip>

@code {
    private void R_Before_Open_TabPageTabC(R_BeforeOpenTabPageEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PageC);
        eventArgs.Parameter = "Parameter untuk page C";
    }
}
