@page "/fastreport"
@using R_BlazorFrontEnd.Interfaces

<div class="row">
    <div class="col-2">
        <R_NumericTextBox @bind-Value="@_countProduct"></R_NumericTextBox>
    </div>
    <div class="col-2">
        <R_Button OnClick="@GenerateReport">Generate Report</R_Button>
    </div>
</div>

@code {
    [Inject] private R_IReport _reportService { get; set; }

    private int _countProduct = 0;

    private async Task GenerateReport()
    {
        var loEx = new R_Exception();

        try
        {
            var loParam = new ProductParameterDTO()
            {
                GenerateCountProduct = _countProduct
            };

            //await _reportService.GetReport(
            //    "R_DefaultServiceUrl",
            //    "",
            //    "api/Report/AllProductPost",
            //    "api/Report/AllStreamProductGet",
            //    loParam);

            await _reportService.GetReport(
                "R_DefaultServiceUrl",
                "GS",
                "rpt/UpdateReport/AllProductPost",
                "rpt/UpdateReport/AllStreamProductGet",
                loParam);
        }
        catch (Exception ex)
        {
            loEx.Add(ex);
        }

        loEx.ThrowExceptionIfErrors();
    }
}
