@page "/storage"

<h3>Storage</h3>

<R_InputFile OnChange="@OnChangeHandler" Accepts="@accepts"></R_InputFile>
<R_Button OnClick="@OnClickHandlerAdd">Save Image</R_Button>
<label></label>


<br />

<R_Button OnClick="@OnClickHandlerGet">Get Image</R_Button>