@inherits R_Page
@attribute [R_Page(Title = "R_DatePicker")]

<R_GroupBox Title="R_DatePicker">
    <R_ItemLayout xs="4">
        <R_DatePicker @bind-Value=@_dateTimeValue>

        </R_DatePicker>
    </R_ItemLayout>

    <R_ItemLayout xs="4">
        <label class="form-label" for="datepicker">Start Date</label>
        <input class="form-control datetimepicker"
               id="datepicker"
               type="text"
               placeholder="d/m/y"
               @bind-value="@_dateTimeValue" />
    </R_ItemLayout>
</R_GroupBox>

@code {
    private DateTime _dateTimeValue = DateTime.Now;
}
