@inherits R_Page
@attribute [R_Page (Title = "Detail Title")]

<h3>@Title</h3>

<R_Detail R_Before_Open_Detail="@R_Before_Open_Detail">Detail</R_Detail>
@* <R_Button OnClick="@OnClick">Close</R_Button> *@

@code {
    private string Title = "";

    protected override Task R_Init_From_Master(object poParameter)
    {
        Title = (string)poParameter;

        return Task.CompletedTask;
    }

    private void R_Before_Open_Detail(R_BeforeOpenDetailEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PageA);
        eventArgs.Parameter = "From Detail Button";
    }

    protected override Task R_PageClosing(R_PageClosingEventArgs eventArgs)
    {
        //eventArgs.Cancel = true;

        return Task.CompletedTask;
    }

    protected override Task<object> R_Set_Result_Detail()
    {
        var lcResult = "Result From Page A";

        return Task.FromResult<object>(lcResult);
    }

//     private async Task OnClick()
//     {
//         await this.CloseDetail1();
//     }
}
