@inherits R_Page
@attribute [R_Page(Title = "Predefined Title")]

<h3>@Title</h3>

@code {
    private string Title = "";

    protected override Task R_Init_From_Master(object poParameter)
    {
        Title = (string)poParameter;

        return Task.CompletedTask;
    }

    protected override Task<object> R_Set_Result_PredefinedDock()
    {
        var lcResult = "Result From Page Predefined";

        return Task.FromResult<object>(lcResult);
    }
}
