@inherits R_Page

<R_ItemLayout col="4">
    <R_TextArea @bind-Value="@_textAreaValue" Width="400px">

    </R_TextArea>
</R_ItemLayout>

<p>TextArea value: @_textAreaValue</p>

@code {
    private string _textAreaValue { get; set; }
}
