@using BlazorTraining.Controls.Docs
@using BlazorTraining.Controls.Docs.Event
@using BlazorTraining.Controls.Docs.Parameter
@inherits R_Page

<h1>Realta Blazor TextArea</h1>
<div class="lead mb-3">
    Realta Blazor TextArea Component.
</div>

<SectionHeading Size="HeadingSize.H2" Text=" Textarea Overview" HashTagName="textarea-overview" />
<Demo Type="typeof(TextArea_Demo_01_Overview)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text=" Textarea Parameters" HashTagName="textarea-parameters" />
<DocTable Header="@(typeof(ParameterHeader))"
          Body="@(typeof(R_TextAreaParameter))" />

<SectionHeading Size="HeadingSize.H2" Text=" Textarea Events" HashTagName="textarea-events" />
<DocTable Header="@(typeof(EventHeader))"
          Body="@(typeof(R_TextAreaEvent))" />

