@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('theme.min.css');

/* ==========================================================================
   1. Root & Base Styles
   ========================================================================== */

/* #region 1.1 Variables */
:root {
    --r-default-font-size: 13px;
    /* preload */
    --falcon-btn-falcon-default-active-background-rgb: 162, 173, 187;
    /* stroke color based on --falcon-body-color */
    --checkbox-checkmark-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%235e6e82' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    --radiobutton-checked-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='25' fill='%235e6e82'/%3e%3c/svg%3e");
    /* [Telerik v7.1.0] update CSS fix */
    --kendo-color-on-app-surface: var(--falcon-body-color) !important;
}

.dark {
    --falcon-btn-falcon-default-active-background-rgb: 47, 64, 85;
    /* stroke color based on --falcon-body-color */
    --checkbox-checkmark-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%239da9bb' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    --radiobutton-checked-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='25' fill='%239da9bb'/%3e%3c/svg%3e");
}

html,
body {
    font-family: var(--falcon-font-sans-serif);
    font-size: var(--r-default-font-size) !important;
    overscroll-behavior: none !important; /* no bouncing effect on scroll*/
}
/* #endregion */

.main {
    background-image: url(../assets/img/bg-theme.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

.dark .main {
    background-image: url(../assets/img/bg-theme-dark.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

/*.navbar-vertical .navbar-collapse {
    background: transparent !important;
}*/

.toggle-icon-wrapper {
    font-size: var(--falcon-body-font-size) !important;
}

/*

.content .navbar {
    padding: .3rem 1rem !important;
}

.content .navbar-top {
    min-height: 1rem !important;
}
.theme-control-toggle .theme-control-toggle-label, .nav-link .avatar.avatar-xl {
    height: 20px !important;
    width: 20px !important;
}

html.navbar-vertical-collapsed footer, html.navbar-vertical-collapsed .navbar-brand img, html.navbar-vertical-collapsed #navbarVerticalCollapse {
    display: none !important;
}*/

/* Menu Sidebar
.navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl + .content {
    margin-left: 2.125rem;
}

.navbar-vertical .navbar-nav .nav .nav .nav-item .nav-link {
    padding-left: 1.7rem !important;
}

.navbar-vertical .navbar-nav {
    font-size: var(--r-default-font-size) !important;
}

    .navbar-vertical .navbar-nav .nav {
        font-size: 10px !important;
    }

 */


/* Tabbing */
.k-tabstrip-items .k-link,
ul.nav-tabs .nav-link {
    /*padding: 0rem .5rem .1em !important;*/
    padding: 0rem .5rem .1em;
}

.k-tabstrip-content,
.k-tabstrip > .k-content {
    border-width: 0px !important;
}

span.close {
    border-radius: 50px;
    padding: 1px 5px;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

span.tab.btn-close {
    width: 8px !important;
    height: 8px !important;
}

.k-tabstrip-items-wrapper,
.k-tabstrip-content,
.k-tabstrip > .k-content {
    border-color: var(--falcon-border-color) !important;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
/* #endregion */

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active .k-link {
    color: var(--falcon-primary) !important;
    background-color: transparent !important;
    border-bottom: 2px solid var(--falcon-primary) !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
    border-color: transparent !important;
    background-color: transparent !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:hover {
    border-color: transparent !important;
}

.k-tabstrip-content,
.k-tabstrip > .k-content {
    background: transparent !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active .k-link {
    margin-bottom: -1px;
    border: var(--falcon-border-color);
    color: var(--falcon-800);
    font-weight: 700;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.k-button-solid-base {
    border-color: var(--falcon-border-color) !important;
    color: #212529;
    background-color: #e4e7eb;
}

.k-editor {
    border-color: var(--falcon-300) !important;
    border-radius: 0.375rem;
    overflow: hidden;
    background-color: transparent !important;
}

    .k-editor .k-button-solid-base {
        background-color: transparent;
    }

    .k-editor .k-toolbar {
        background-color: var(--falcon-input-bg) !important;
    }

    .k-editor.k-disabled .k-toolbar {
        background-color: var(--falcon-200) !important;
    }

    .k-editor .k-content {
        color: var(--falcon-body-bg) !important;
        background-color: var(--falcon-input-bg) !important;
        border-color: transparent !important;
        border-color: var(--falcon-border-color) !important;
    }

    .k-editor.k-disabled .k-content {
        background-color: var(--falcon-200) !important;
    }

.k-button-solid-base {
    /*    border-color: #e4e7eb;*/
    border-color: var(--falcon-border-color) !important;
}

.k-toolbar {
    /*    border-color: #dee2e6;*/
    border-color: var(--falcon-border-color) !important;
}

.k-editor-content p {
    color: var(--falcon-800);
}

/* Pointer */
ul ul li.nav-item a.nav-link span {
    cursor: pointer;
}

.cur-pointer {
    cursor: pointer;
}

/* Button */
.k-button {
    padding: 0.25rem .7rem !important;
    font-size: var(--r-default-font-size) !important;
    line-height: 1.2 !important;
    font-family: var(--falcon-font-sans-serif) !important;
}

.k-button-solid-primary:hover,
.k-button-solid-primary.k-hover,
.k-button-solid-success:hover,
.k-button-solid-success.k-hover,
.k-button-solid-secondary:hover,
.k-button-solid-secondary.k-hover,
.k-button-solid-warning:hover,
.k-button-solid-warning.k-hover,
.k-button-solid-error:hover,
.k-button-solid-error.k-hover {
    color: #fff !important;
}

/* not displaying scrollbar on page so it doesnt break layout */
html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .k-button-solid-warning:hover,
    .k-button-solid-warning.k-hover {
        background-color: #df6d2d !important;
        border-color: #df6d2d !important;
    }

.scroll-hidden {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

    .k-button-solid-success:hover,
    .k-button-solid-success.k-hover {
        background-color: #00b368 !important;
        border-color: #00a862 !important;
    }
/* #endregion */

.k-button-solid-warning {
    color: #fff !important;
}

.k-button:disabled,
.k-button.k-disabled {
    opacity: .3 !important;
    cursor: not-allowed !important;
}

/* ComboBox Button */
.k-input .k-button {
    padding: 0.25rem !important;
    padding-block: 0px !important;
}

/* DropdownList Button */
.k-picker-md .k-input-button {
    padding-block: 0px !important;
}

/* Input */
.k-input-md:not(.r-form-control) .k-input-inner,
.k-picker-md:not(.r-form-control) .k-input-inner {
    padding: 0.1rem 1rem !important;
}

.k-input-solid {
    border-color: var(--falcon-input-border-color) !important;
    background-color: var(--falcon-input-bg) !important;
    color: var(--falcon-input-color) !important;
}

.k-disabled [disabled],
.k-disabled .k-disabled,
.k-widget[disabled] [disabled],
.k-widget[disabled] .k-disabled,
.k-disabled [disabled],
.k-disabled .k-disabled,
.k-picker-solid.k-disabled,
.k-picker-solid.k-disabled .k-input-inner {
    background-color: var(--falcon-200) !important;
}

.k-picker-solid .k-input-inner {
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-input-color) !important;
    background-color: var(--falcon-input-bg) !important;
}
/* #endregion */

/* ==========================================================================
   2. Login Page
   ========================================================================== */

/* #region 2.1 Login Page Base Styling */
.main {
    background-image: url(../assets/img/bg-theme.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

.k-input-spinner .k-spinner-increase,
.k-input-spinner .k-spinner-decrease,
.k-input-button {
    background: transparent !important;
    border-inline-start-width: 0px !important;
}

/* #endregion */

.k-checkbox:disabled,
.k-checkbox.k-disabled,
.k-radio:disabled,
.k-radio.k-disabled {
    background-color: #2c7be5 !important;
    border-color: #2c7be5 !important;
    cursor: not-allowed !important;
}
/* #endregion */

/* ==========================================================================
   3. Custom Notification 
   ========================================================================== */

/* #region 3.1 Notification Badges */
#r-notification-badge {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12%;
    left: 55%;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 9999px;
    background-color: var( --falcon-danger);
    min-width: 16px;
    height: 16px;
    padding: 0 0.4rem;
    line-height: 14px;
    border: 1px solid var(--falcon-bg-navbar-glass);
    font-family: monospace;
    pointer-events: none; /* Ignores all mouse events */
    user-select: none; /* Prevents text selection */
}

    #r-notification-badge.r-rounded {
        border-radius: 50%;
        padding: 0 !important;
        width: 16px;
    }
/* #endregion */

/* #region 3.2 Incoming Notification Animation */
@keyframes flash-highlight {
    0% {
        background-color: var(--falcon-card-bg) !important;
    }
    /* light yellow */
    100% {
        background-color: transparent !important;
    }
}

.flash-new {
    animation: flash-highlight 1s ease-out;
    pointer-events: none; /* Let clicks pass through */
}
/* #endregion */

.k-grid-header,
.k-table-thead,
.k-table-header,
.k-table-group-sticky-header {
    border-color: #dee2e6 !important;
    color: var(--falcon-800) !important;
    --falcon-bg-opacity: 1 !important;
    background-color: rgba(var(--falcon-200-rgb), var(--falcon-bg-opacity)) !important;
}

.k-grid-aria-root,
.k-grid-pager {
    border-color: #dee2e6 !important;
    color: var(--falcon-800) !important;
    background-color: transparent !important;
}

    .xtabs[b-mlpxtvpz0w] .xtabs-header {
        background-color: transparent !important;
        padding: 0 !important;
    }

.k-grid-header-wrap,
.k-grid-footer-wrap {
    border-inline-end-width: 0px !important;
}

        .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item {
            flex: 0 0 auto;
            /* ✅ Prevent shrinking/growing */
            height: max-content !important;
            box-sizing: border-box;
            margin: 0 !important;
        }

            .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item .xtabs-close {
                height: 100% !important;
            }

            .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item .xtabs-link {
                box-sizing: border-box !important;
                margin: 0 !important;
                padding: .5rem 1rem !important;
            }
/* #endregion */

/* ==========================================================================
   5. Popup, Modal, Window, Dialog 
   ========================================================================== */

/* #region 5.1 Invisible Window */
.r-window.r-invisible-window {
    position: fixed !important; /* always in the same position even when scrolled */
    background: none;
    background-color: transparent;
    border: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}
/* #endregion */

/* ==========================================================================
   6. Captcha
   ========================================================================== */

/* #region 6.1 Captcha*/
.divCaptcha {
    border-color: var(--falcon-input-border-color) !important;
    background-color: var(--falcon-input-bg) !important;
}

.k-grid .k-table-th,
.k-grid td,
.k-grid .k-table-td {
    border-inline-start-width: 0px !important;
}

.k-table,
.k-data-table {
    color: var(--falcon-800) !important;
}

.k-grid .k-table-th.k-selected,
.k-grid td.k-selected,
.k-grid .k-table-td.k-selected,
.k-grid .k-table-row.k-selected > td,
.k-grid .k-table-row.k-selected > .k-table-td {
    --falcon-table-striped-bg: rgba(0, 0, 0, 0.5) !important;
    color: var(--falcon-800) !important;
}

.k-table-thead,
.k-table-header,
.k-table-group-sticky-header {
    background-color: transparent !important;
}

        .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item {
            transition: box-shadow .2s ease-in-out, opacity 0.3s ease;
            gap: var(--menu-overlay-gap);
        }

            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item:hover {
                -webkit-box-shadow: var(--menu-overlay-box-shadow);
                box-shadow: var(--menu-overlay-box-shadow);
            }

            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item:focus,
            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item:focus-visible,
            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item:focus-within {
                -webkit-box-shadow: var(--menu-overlay-box-shadow-focus);
                box-shadow: var(--menu-overlay-box-shadow-focus);
            }

            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item .r-menu-overlay-content-favorite {
                color: var(--falcon-card-color);
                border-top-right-radius: var(--menu-overlay-card-radius);
                border-bottom-right-radius: var(--menu-overlay-card-radius);
            }

            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item .r-menu-overlay-content-icon {
                color: var(--menu-overlay-icon-color);
            }

            .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item .r-menu-overlay-content-text {
                min-height: var(--menu-overlay-content-min-height);
            }

                .r-menu-overlay .r-menu-overlay-content .r-menu-overlay-tiles .r-menu-overlay-content-item .r-menu-overlay-content-text .r-menu-overlay-content-text-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }

/* #endregion */

/* #region 7.2 Pop Animation Favorite */
.r-menu-overlay-content-favorite .r-menu-overlay-content-favorite-icon .fav-icon {
    color: var(--falcon-yellow);
}

.r-menu-overlay-content-favorite .r-menu-overlay-content-favorite-icon .fav-icon,
.r-menu-overlay-content-favorite .r-menu-overlay-content-favorite-icon .unfav-icon {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform-origin: center;
}

.k-grid-md td,
.k-grid-md .k-table-td {
    padding: 0.2rem 0.5rem !important;
    font-size: 10px !important;
}

/* Paging */
.k-pager-md .k-pager-sizes .k-dropdown-list,
.k-pager-md .k-pager-sizes .k-dropdown,
.k-pager-md .k-pager-sizes .k-dropdownlist,
.k-pager-md .k-pager-sizes > select {
    width: 8em !important;
}

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

.search-box a.dropdown-item {
    cursor: pointer;
}

/* Popup */
.k-popup {
    background-color: var(--falcon-card-bg) !important;
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-input-color) !important;
}
/* #endregion */

/* ==========================================================================
   8. RTF Viewer
   ========================================================================== */

.r-rtf-viewer-action {
    background-color: var(--falcon-input-bg) !important;
    border-color: var(--falcon-input-border-color) !important;
    border-radius: var(--r-default-border-radius) !important;
}

/* ==========================================================================
   9. Dropzone
   ========================================================================== */

.r-dropzone-wrapper {
    /* Colors */
    --r-dropzone-border-color: var(--falcon-input-border-color);
    --r-dropzone-border-color-hover: var(--falcon-btn-falcon-primary-active-color);
    --r-dropzone-bg: var(--falcon-input-bg);
    --r-dropzone-bg-hover: var(--falcon-200);
    --r-dropzone-text-color: var(--falcon-input-color);
    --r-dropzone-file-name-color: var(--falcon-900);
    --r-dropzone-file-size-color: var(--falcon-600);
    --r-dropzone-btn-danger: var(--falcon-btn-falcon-danger-color);
    --r-dropzone-btn-danger-hover: var(--falcon-btn-falcon-danger-hover-color);
}


/* ==========================================================================
   10. Background Color Override
   ========================================================================== */

/* Base is not used, each components has it's own base styling */
/*.r-bg-base.r-bg-base.r-bg-base.r-bg-base {
    background-color: var(--falcon-input-bg) !important;
    color: var(--falcon-input-color) !important;
}*/

.k-button .k-button-text {
    font-family: var(--falcon-font-sans-serif);
    font-weight: 500;
}

.r-bg-secondary.r-bg-secondary.r-bg-secondary.r-bg-secondary {
    background-color: var(--falcon-secondary) !important;
    color: var(--falcon-gray-black) !important
}

.r-bg-info.r-bg-info.r-bg-info.r-bg-info {
    background-color: var(--falcon-info) !important;
    color: var(--falcon-gray-black) !important
}

.r-bg-success.r-bg-success.r-bg-success.r-bg-success {
    background-color: var(--falcon-success) !important;
    color: var(--falcon-gray-black) !important
}

.r-bg-warning.r-bg-warning.r-bg-warning.r-bg-warning {
    background-color: var(--falcon-warning) !important;
    color: var(--falcon-gray-black) !important
}

.r-bg-error.r-bg-error.r-bg-error.r-bg-error {
    background-color: var(--falcon-danger) !important;
    color: var(--falcon-gray-black) !important
}

.r-bg-dark.r-bg-dark.r-bg-dark.r-bg-dark {
    background-color: var(--falcon-dark) !important;
    color: var(--falcon-gray-white) !important
}

.r-bg-light.r-bg-light.r-bg-light.r-bg-light {
    background-color: var(--falcon-light) !important;
    color: var(--falcon-gray-black) !important
}

/* ==========================================================================
   X. No Categories
   ========================================================================== */

/* #region X.1 Default Icon Styling*/
.r-nav-custom-icon {
    width: 1rem;
    height: 1rem;
}

.r-button.r-button-icon {
    margin: 0 !important;
    padding: 0 !important;
    background: none !important
}

.r-icon {
    display: flex;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.2em 0.6em;
}
/* #endregion*/

/* #region X.2 Cursor Pointer */
.cur-pointer {
    cursor: pointer;
}
/* #endregion */

/* #region X.3 Validation Message (BlazorMenu) */
.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
}
/* #endregion*/

/* Blazor X Tabs */
.xtabs[b-mlpxtvpz0w] {
    background-color: transparent !important;
}

.xtabs-item .xtabs-link.active[b-21c0qposjk] {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom-color: var(--falcon-primary) !important;
}

li.xtabs-item.nav-item[b-21c0qposjk] {
    position: relative;
}

button.close[b-21c0qposjk] {
    font-weight: 300 !important;
    color: #2c7be5 !important;
    text-shadow: none !important;
    line-height: 26px !important;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

button.close span {
    position: relative;
    padding: 0 3px !important;
}

    button.close span:hover {
        color: #fff !important;
        background-color: #2c7be5 !important;
        z-index: 99999 !important;
    }

h6[b-21c0qposjk] {
    padding-right: 7px !important;
}



@media(min-width: 576px) {
    .content {
        /*padding-bottom: 3.9875rem*/
        padding-bottom: 0rem !important;
    }
}


.dark.windows.chrome .navbar-vertical .scrollbar::-webkit-scrollbar-thumb {
    /* background-color: var(--falcon-navbar-vertical-scrollbar-color) */
    background-color: rgba(44, 123, 229, 0.5) !important;
}

.navbar-vertical.navbar-expand-xl .navbar-vertical-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100% !important;
}

    .navbar-vertical.navbar-expand-xl .navbar-vertical-content .navbar-content {
        flex: 1 1 auto;
        overflow: auto;
    }

#navbar-footer {
    height: fit-content !important;
    flex: 0 0 auto;
}

/* Drag Cells*/
.k-grid-md .k-drag-cell > .k-icon {
    padding: 0px !important;
    width: 33% !important;
    height: auto !important;
    font-size: 10px;
}

/* lightbox */
.lightbox-background {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
}

.lightbox-background__image {
    max-width: 90vw;
    max-height: 90vh;
    border: 5px solid #efefef;
    box-shadow: 0 3px 12px rgba(80, 80, 80, .8);
}

.lightbox {
    cursor: pointer;
    position: relative;
}

    .r-target-invalid .r-icon-container {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 1.9rem !important;
    }
/* #endregion*/

/* #region X.5 Preserved input styling in blazor menu component that originally use bootstrap: "form-control" class */
.r-form-control {
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
}
/* #endregion */

/* Global Scrollbar Styling */

*::-webkit-scrollbar {
    visibility: hidden;
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
    background-color: transparent;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 3px;
    background-color: var(--falcon-scrollbar-bg);
}

*:hover::-webkit-scrollbar,
*:hover::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar,
*:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}


/* not displaying scrollbar on page so it doesnt break layout */
html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

/* xtabs horizontal scroll */
.xtabs .xtabs-header {
    display: flex;
    height: max-content;
    flex-wrap: nowrap;
    /* ✅ Prevent wrapping */
    overflow-x: scroll;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    /* smooth scrolling on iOS */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

    .xtabs .xtabs-header .xtabs-header-tabs {
        display: flex;
        flex-wrap: nowrap !important;
        /* ✅ Prevent wrapping */
        overflow: visible !important;
        box-sizing: border-box;
        margin: 0 !important;
    }

        .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item {
            flex: 0 0 auto;
            /* ✅ Prevent shrinking/growing */
            height: max-content !important;
            box-sizing: border-box;
            margin: 0 !important;
        }

            .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item .xtabs-close {
                height: 100% !important;
            }

            .xtabs .xtabs-header .xtabs-header-tabs .xtabs-item .xtabs-link {
                box-sizing: border-box !important;
                margin: 0 !important;
                padding: .5rem 1rem !important;
            }

/* validation */
.r-input-invalid span.k-input {
    border-color: var(--falcon-danger) !important;
}

/* custom grid pager*/
div.r-custom-pager {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: max-content;
    padding: 2px 4px;
}

    div.r-custom-pager * {
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: var(--falcon-font-sans-serif) !important;
        white-space: nowrap;
    }

    div.r-custom-pager svg {
        width: 13px !important;
        height: 13px !important;
    }

    div.r-custom-pager button {
        padding: 1px !important;
        border-radius: 0 !important;
    }

div.r-custom-pager-text-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 1px !important
}

html.dark #login-bg {
    filter: invert(1);
}

/* Untuk Program Gridview Batch */
.k-grouping-row,
.k-group-cell {
    border-color: var(--falcon-border-color) !important;
    color: var(--falcon-body-color) !important;
    background-color: transparent !important;
}

/* fix delay in dark-light transition */
.k-textbox,
.form-control,
.k-button,
.btn,
.k-treeview-leaf,
.nav-link,
.k-switch-track {
    transition: none !important;
    -webkit-transition: none !important;
}

/* fix treeview text color not changing on dark mode */
.k-treeview {
    color: var(--falcon-body-color) !important;
}

/* fix treeview leaf on hover too bright */
.k-treeview-leaf:hover,
.k-treeview-leaf.k-hover {
    color: var(--falcon-body-color) !important;
    background-color: var(--falcon-border-color) !important;
}

/* fix autocomplete popup focused program doesn't have selection border */
.k-popup .k-list {
    background-color: var(--falcon-card-bg) !important;
    color: var(--falcon-input-color) !important;
}

    .k-popup .k-list .k-list-item:focus,
    .k-popup .k-list .k-list-optionlabel:focus,
    .k-popup .k-list .k-list-item.k-focus,
    .k-popup .k-list .k-focus.k-list-optionlabel {
        box-shadow: inset 0 0 0 3px rgba(var(--falcon-dark-rgb), 0.1) !important;
    }

    .k-popup .k-list .k-list-item:hover,
    .k-popup .k-list .k-list-optionlabel:hover,
    .k-popup .k-list .k-list-item.k-hover,
    .k-popup .k-list .k-hover.k-list-optionlabel {
        color: var(--falcon-black) !important;
        background-color: var(--falcon-200) !important;
    }

/* fix calendar popup dark mode style */
.k-popup .k-calendar {
    background-color: var(--falcon-card-bg) !important;
    color: var(--falcon-input-color) !important;
}

    .k-popup .k-calendar .k-calendar-td .k-link:hover,
    .k-popup .k-calendar .k-calendar-td .k-link.k-hover {
        color: var(--falcon-body-color) !important;
        background-color: var(--falcon-border-color) !important;
    }

/* fix default button does not change color in dark mode */
.k-button-solid-base {
    color: var(--falcon-btn-falcon-default-active-border) !important;
    background-color: var(--falcon-btn-falcon-default-active-background) !important;
    border: 0 !important;
}

.dark .k-button-solid-base:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--falcon-btn-falcon-default-active-background-rgb), 0.5) !important;
}

/* fix checkbox style difference */
.k-checkbox {
    background-color: var(--falcon-input-bg) !important;
    color: var(--falcon-input-color) !important;
    border-color: var(--falcon-input-border-color) !important;
}

    .k-checkbox.k-disabled,
    .k-checkbox:disabled,
    .k-disabled .k-checkbox,
    *:disabled .k-checkbox {
        background-color: var(--falcon-200) !important;
        border-color: var(--falcon-input-border-color) !important;
    }

    .k-checkbox:checked,
    .k-checkbox.k-checked {
        background-image: var(--checkbox-checkmark-url) !important;
    }


/* hide pager */
.r-collapsible-hidden {
    width: 0 !important;
    overflow: hidden !important;
}

/* Side Nav Custom Icon styling */
#r-nav-custom-icon {
    width: 1em;
    height: 1em;
}

/* fix radiobutton style difference */
.k-radio {
    background-color: var(--falcon-input-bg) !important;
    color: var(--falcon-input-color) !important;
    border-color: var(--falcon-input-border-color) !important;
}

    .k-radio.k-disabled,
    .k-radio:disabled,
    .k-disabled .k-radio,
    *:disabled .k-radio {
        background-color: var(--falcon-200) !important;
        border-color: var(--falcon-input-border-color) !important;
    }

    .k-radio:checked,
    .k-radio.k-checked {
        background-image: var(--radiobutton-checked-url) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

/* fix context menu focused program doesn't have selection border */
.k-popup .k-context-menu {
    background-color: var(--falcon-card-bg) !important;
    color: var(--falcon-input-color) !important;
}

.k-popup .k-menu-group .k-item > .k-link:focus,
.k-popup .k-menu-group .k-item > .k-link.k-focus,
.k-popup .k-menu.k-context-menu .k-item > .k-link:focus,
.k-popup .k-menu.k-context-menu .k-item > .k-link.k-focus {
    box-shadow: inset 0 0 0 3px rgba(var(--falcon-dark-rgb), 0.1) !important;
}

.k-popup .k-menu-group .k-item > .k-link:hover,
.k-popup .k-menu-group .k-item > .k-link.k-hover,
.k-popup .k-menu.k-context-menu .k-item > .k-link:hover,
.k-popup .k-menu.k-context-menu .k-item > .k-link.k-hover {
    color: var(--falcon-black) !important;
    background-color: var(--falcon-200) !important;
}

/* fix switcher style difference */
.k-switch-off .k-switch-track {
    border-color: var(--falcon-border-color) !important;
    background-color: var(--falcon-input-bg) !important;
}

/* fix edit grid toolbar text is not changing color in dark mode */
#r-grid-toolbar {
    color: var(--falcon-input-color) !important;
}

/* remove focus styling if item is disabled */
.k-disabled:focus, .k-disabled.k-focus {
    box-shadow: none !important;
}

.k-disabled:focus-within {
    box-shadow: none !important;
}

/* sanitize styling in k-columnmenu-item */
.k-columnmenu-item:hover,
.k-columnmenu-item:focus,
.k-columnmenu-item:focus-visible,
.k-columnmenu-item:focus-within {
    background: inherit !important;
    color: inherit !important;
    outline: inherit !important;
    box-shadow: inherit !important;
    border-color: inherit !important;
    text-decoration: inherit !important;
    cursor: default !important;
}

/* make checklist filter not too long */
.k-popup .k-multicheck-wrap {
    max-height: 100px !important;
}

/* fix tooltip styling */
.k-tooltip {
    background-color: var(--falcon-card-bg) !important;
    color: var(--falcon-card-color) !important;
}

/* fix tooltip styling for validation message */
#r-validation-message-tooltip.k-tooltip {
    background-color: #e63757 !important;
    color: #000 !important;
}

/* preserved input styling in blazor menu component that originally use bootstrap: "form-control" class */
.r-form-control {
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
}

.r-invisible-telerik-window {
    background: none !important;
    border: none !important;
}

/* notification badges */
#r-notification-badge {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12%;
    left: 55%;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 9999px;
    background-color: var( --falcon-danger);
    min-width: 16px;
    height: 16px;
    padding: 0 0.4rem;
    line-height: 14px;
    border: 1px solid var(--falcon-bg-navbar-glass);
    font-family: monospace;
    pointer-events: none; /* Ignores all mouse events */
    user-select: none; /* Prevents text selection */
}

    #r-notification-badge.r-rounded {
        border-radius: 50%;
        padding: 0 !important;
        width: 16px;
    }

@keyframes flash-highlight {
    0% {
        background-color: var(--falcon-card-bg) !important;
    }
    /* light yellow */
    100% {
        background-color: transparent !important;
    }
}

.flash-new {
    animation: flash-highlight 1s ease-out;
    pointer-events: none; /* Let clicks pass through */
}

/* Remove default browser password toggle */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Untuk Screen > 1400px */
