/* ==========================================================================
   1. Table
   ========================================================================== */
table.table {
    color: var(--falcon-body-color)
}

table tbody th[colspan] {
    background-color: var(--falcon-200);
}