/* ==========================================================================
   1. Table
   ========================================================================== */
table.table {
    color: var(--falcon-body-color)
}