@inherits R_Page

<h1>Realta Blazor Barcode</h1>
<div class="lead mb-3">
    Realta Blazor Barcode component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Barcode Overview" HashTagName="barcode-overview" />
<Demo Type="typeof(Barcode_Demo_01_Overview)" Tabs="true" />
