@using BlazorTraining.Controls.Docs
@using BlazorTraining.Controls.Docs.Event
@using BlazorTraining.Controls.Docs.Parameter
@inherits R_Page

<h1>Realta Blazor TextBox</h1>
<div class="lead mb-3">
    Realta Blazor TextBox Component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="TextBox Overview" HashTagName="textbox-overview" />
<Demo Type="typeof(TextBox_Demo_01_Overview)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="TextBox Parameters" HashTagName="textbox-parameters" />
<DocTable Header="@(typeof(ParameterHeader))"
          Body="@(typeof(R_TextBoxParameter))" />

<SectionHeading Size="HeadingSize.H2" Text="TextBox Events" HashTagName="textbox-events" />
<DocTable Header="@(typeof(EventHeader))"
          Body="@(typeof(R_TextBoxEvent))" />


@* <SectionHeading Size="HeadingSize.H2" Text="TextBox Methods" HashTagName="textbox-methods" />
<div>
    Realta Blazor textbox methods.
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Method</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row"><code>OnChanged</code></th>
                <td></td>
                <td>Try</td>
            </tr>
            <tr>
                <th scope="row"><code>OnLostFocused</code></th>
                <td></td>
                <td>Try</td>
            </tr>
            <tr>
                <th scope="row"><code>ValueChanged</code></th>
                <td></td>
                <td>Try</td>
            </tr>
        </tbody>
    </table>
</div> *@