@inherits R_Page

<R_GroupBox Title="R_TextBox">
    <R_ItemLayout col="4">
        <p>TextBox value: @_stringValue</p>

        <R_TextBox @bind-Value="@_stringValue" TextAlignment="@R_eTextAlignment.Right">

        </R_TextBox>
    </R_ItemLayout>
</R_GroupBox>

@code {
    private string _stringValue { get; set; }

    protected override Task R_Init_From_Master(object poParameter)
    {
        _stringValue = "default";

        return Task.CompletedTask;
    }
}
