<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BatchAndExcel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excel">
                <span class="oi oi-plus" aria-hidden="true"></span> Excel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="batch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Batch
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bulkinsert">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bulk Insert
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="fastreport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Report
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="storage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Storage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excelbatchprocess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Excel Batch Process
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
