@using BlazorTraining.Controls.Docs
@using BlazorTraining.Controls.Docs.Event
@using BlazorTraining.Controls.Docs.Parameter
@inherits R_Page

<h1>Realta Blazor Numeric TextBox</h1>
<div class="lead mb-3">
    Realta Blazor Numeric TextBox Component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Numeric TextBox Overview" HashTagName="numerictextbox-overview" />
<Demo Type="typeof(NumericTextBox_Demo_01_Overview)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Numeric TextBox Parameters" HashTagName="numerictextbox-parameters" />
<DocTable Header="@(typeof(ParameterHeader))"
          Body="@(typeof(R_NumericTextBoxParameter))" />

<SectionHeading Size="HeadingSize.H2" Text="Numeric TextBox Events" HashTagName="numerictextbox-events" />
<DocTable Header="@(typeof(EventHeader))"
          Body="@(typeof(R_NumericTextBoxEvent))" />

