<div class="mb-3">
    <R_TextBox @bind-Value="@StringValue"
               Enabled="@_enabled" />
</div>

<R_Button OnClick="@EnabledOnClick">@_buttonText</R_Button>

@code {
    private string StringValue { get; set; }

    private bool _enabled = true;
    private string _buttonText = "enable";

    private void EnabledOnClick()
    {
        _enabled = !_enabled;
        _buttonText = _enabled ? "enable" : "disable";
    }
}
