@using BlazorMenu.Extensions
@using BlazorMenu.Constants
@inherits ComponentBase
@implements R_IMenuTabSet

@if (Tabs.Count == 0)
{
    <style>
        .card {
            box-shadow: none;
            background: transparent;
            height: 100%;
        }
    </style>
    <div id="home-bg" class="bg-holder" style=@AssetRepository.GetPreloadAsset(AppConstants.HomeBgStyleKey)></div>
}
else
{
    <CascadingValue Value="this" Name="MenuTabSet">
        <XTabsWrapper @ref="@_xtabsWrapper" />
    </CascadingValue>
}

@code {
    [CascadingParameter(Name = "RouteView")] public MenuTabsRouteView? RouteView { get; set; } = default!;

    [Inject] internal MenuTabSetTool? _tabSetTool { get; set; } = default!;
    [Inject] internal NavigationManager? NavigationManager { get; set; } = default!;
    [Inject] private IServiceProvider ServiceProvider { get; set; } = default!;
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;
    [Inject] private R_PreloadService _preloadService { get; set; } = default!;
    [Inject] private R_IAssetRepository AssetRepository { get; set; } = default!;

    public List<MenuTab> Tabs => _tabSetTool?.Tabs ?? new List<MenuTab>();

    private XTabsWrapper? _xtabsWrapper;
    internal R_ITenant? _tenant;

    protected override void OnInitialized()
    {
        // _tenant = ServiceProvider.GetTenantFromService();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Tabs.Count == 0)
            return;

        var loItem = Tabs.FirstOrDefault(x => x.IsActive);
        if (loItem is not null && _xtabsWrapper is not null)
        {
            await _xtabsWrapper.CreateNewTab(loItem);
        }
    }

    public async Task OpenTabAsync(string title, string url, string access = "")
    {
        MenuTab? selTab = Tabs.FirstOrDefault(m => m.Url == url && (m.Title == title || string.IsNullOrEmpty(m.Title)));

        if (selTab is null)
        {
            await _preloadService.Show();
            if (_tabSetTool is not null)
                await _tabSetTool.AddTab(title, url, access); // Create new XTab if it doesn't exist yet
            return;
        }

        if (_xtabsWrapper is null)
            return;

        await _xtabsWrapper.OpenTabAsync(selTab);
    }

    public async Task CloseTabFromProgram(R_IMenuTab poTab)
    {
        if (_xtabsWrapper is not null)
        {
            await _xtabsWrapper.CloseTabFromProgram(poTab);
        }
    }
}