<tr>
    <th colspan="3">Input Base</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputComponentBase<object>.OnChanged)</code></th>
    <td>
        Triggered when the user commits a value change by pressing Enter or when the input loses focus (blur).
        This event represents a finalized change, not every keystroke.
    </td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputComponentBase<object>.OnLostFocused)</code></th>
    <td>
        Triggered when the input loses focus (blur), regardless of whether the value has changed.
        This is typically used for validation, formatting, or other post-input processing.
    </td>
    <td>Try</td>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_InputComponentBase<object>.ValueChanged)</code></th>
    <td>
        Triggered when the value of the input changes on each keystroke.

        This event cannot be used together with @@bind-Value.
        When @@bind-Value is applied, Blazor automatically wires Value and ValueChanged internally, so providing ValueChanged manually will be ignored or cause a binding conflict.
    </td>
    <td>Try</td>
</tr>
